@font-face {
  font-family: 'Simpleness'; /* Give your font a unique name */
  src: url('./fonts/Simpleness.otf')
}

@font-face {
  font-family: 'Asul'; /* Give your font a unique name */
  src: url('./fonts/Asul-Regular.woff')
}

@font-face {
  font-family: 'Asul Bold'; /* Give your font a unique name */
  src: url('./fonts/Asul-Bold.woff')
}

.hor-container {
  /* display: flex;
  flex-direction: row; */
}

body, html {
  background-color: whitesmoke;
  font-family: Asul;
  margin: 0;
  user-select: none;
}

.bodyContent {
  font-size: 14pt;
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2pt solid #aaaaaa;
}

thead {
  background-color: #aaaaaa;
}

thead th {
  padding-top: 4pt;
  padding-bottom: 4pt;
  font-size: 12pt;
}

tbody tr:nth-child(even) td {
  background-color: #f2f2f2; /* Light gray for even rows */
  padding: 4pt;
  padding-left: 8pt;
}

tbody tr:nth-child(odd) td {
  background-color: #ffffff; /* White for odd rows */
  padding: 4pt;
  padding-left: 8pt;
}

tbody td {
  border: 0px;
  border-right: 2pt;
  border-style: solid;
  border-color: #aaaaaa;
}



fieldset {
  border: 4pt solid saddlebrown;
  margin-bottom: 10pt;
  margin-top: 10pt;
  background-color: whitesmoke;
  width: 90%;
  font-size: 14pt;
}

.monsterCreatorFieldTitle {
  color: saddlebrown;
  font-family: Simpleness;
  margin-bottom: 8pt;
  margin-top: 6pt;
}

.halfWidth {
}

.boldFont {
  font-family: Asul Bold;
}

.numberDoubleDigit {
  width: 40pt;
  font-family: Asul Bold;
  font-size: 16pt;
  border: 2px solid black;
  border-radius: 4pt;
  text-align: center;
}

.plusMinusButton {
  width: 30pt;
  margin-left: 4pt;
  font-family: Asul Bold;
  font-size: 16pt;
  border: 2px solid black;
  border-radius: 4pt;
  background-color: white;
  cursor: pointer;
}

.smallButton {
  width: 20pt;
  margin-left: 4pt;
  font-size: 12pt;
  border: 1px solid black;
  border-radius: 2pt;
  background-color: white;
}

.plusMinusButton:hover {
  background-color: lightblue;
}

.disabledButton {
  background-color: lightgray;
  border-color: darkgray;
  cursor: not-allowed;
}

.miniRollerDie:hover {
  cursor: pointer;
}

.statBlockName {
  margin-bottom: 8pt;
}

.monsterImage, .bodyContent img {
  width: 66%;
  margin: auto;
  display: block;
}

#mainView {
  width: 85%;
  max-width: 700px;
  margin: auto;
  padding-bottom: 60pt;
}

.navControls {
  margin-top: 20pt;
  margin-bottom: 20pt;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  bottom: 10pt;
  height: 20pt;
  padding-top: 5pt;
}

.navClick {
  width: 100%;
  text-align: center;
}

.navClick:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  border: 1px solid saddlebrown;
}